<!DOCTYPE html>
<html>

  <head>
    <title>home | ff4c00</title>
  </head>

  <body>
    <h1>ff4c00</h1>
    <p>
      该页面是开源项目
      <a href="https://github.com/ff4c00/ff4c00">ff4c00</a>
      的首页
    </p>
  </body>

</html>
