<% provide(:title, (title = '用户列表'))%>
<h1><%= title %></h1>

<ul class='users'>
	<!-- 这里render的参数不在是指定局部视图的字符串,
	rails会通过变量的类名推断出局部视图的名称,
	自动遍历并使用相对应的局部视图渲染每个对象 -->
	<%= render @users %>
</ul>

<%= paginate @users %>
