<footer class="footer">
  <small class="center">
    <p>
    该项目按照<%= link_to 'Michael Hartl', 'http://www.michaelhartl.com' %>编写的Ruby on Rails教程(第4版)开发,项目发布在Github上,点击<a href="https://github.com/ff4c00/ff4c00">这里</a>了解更多信息.
    </p>
  </small>
</footer>